nav.navbar {
  height:56px;
  background-color: #fff;
  box-shadow: 0 2px 7px -4px #8F8F8F; 
  border: 0;
}

.navbar-brand {
  padding:0px 15px;
}

.navbar-nav > li > a {
  color:#009ee0;
  height: 56px;
  padding: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 992px) {
  nav.navbar {
    height: 56px;
  }

  .navbar-right {
    margin-right: 0;
  }

  .navbar .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .container> .navbar-header {
    float: none;
    display: none;
  }
}

@media screen and (max-width: 767px) {

  nav .container .navbar-collapse {
    background-color: white;
    height: 100vh;
    max-height: none;
  }

  nav.navbar {
    height: 50px;
     box-shadow: 0 0 4px 4px #8F8F8F; 
  }

  .navbar-brand {
    padding-left: 0;
  }

  .navbar-brand img {
    height: 100%;
  }

  .navbar-toggle .icon-bar{
    background-color: #009ee0;
  }

  .navbar-collapse {
    border-bottom: 1px solid #8F8F8F;
  }
}