.about-us .about-us-link {
    background-color: #01a6ea;
    color: white;
}

.about-us .map {
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    .about-us .about-us-link {
        width: 100%;
    }
}
