
.container .jumbotron {
  background-color: #fff;
  padding: 30px;
  padding-right: 0;
}

.container .jumbotron h3 {
  margin-top: 0;
}

.jumbotron .form-header-text {
  color: #8F8F8F;
  font-size: 16px;
  font-weight: 300;
}

.form-btn-submit {
  width: 100%;
  margin-top: 20px;
  background-color: #01a6ea;
  color: white;
  font-size: 20px;
}

.form-btn-submit:hover {
  color: white;
}

.contact-below-form-inner {
  position: relative;
  padding-left: 80px;
}

.contact-below-form-inner .fa {
  position: absolute;
  left: 20px;
  font-size: 50px;
  color: #01a6ea;
}

.contact-below-form-inner p{
  margin: 0;
  font-size: 18px;
}

.contact-below-form-inner p a {
  font-size: 18px;
  color: black;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .container .jumbotron {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
  }

  .form-control {
    margin-bottom: 15px;
  }
}