a {
  color:#01a6ea;
  font-size:1.5em;
  font-weight:400;
}

.body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding-top: 60px;
}

section {
  padding: 40px 0;
}

section:nth-child(2n+1) {
  background-color:#F0F9FD;
}

