.stories {
    margin-bottom: 40px;
}

.stories-intro {
    margin-bottom: 40px;
}

.stories-header {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.stories .item {
    margin-bottom: 20px;
}

.stories-info {
    margin-bottom: 50px;
}

.stories .stories-image-container {
    max-height: 275px;
    overflow: hidden;
}

.stories .stories-image-container img{
    width: 100%
}

@media screen and (max-width: 768px) {
    .stories-image-container {
        margin-bottom: 20px;
    }

    .story-description {
        margin-bottom: 50px;
    }

    .stories {
        margin-bottom: 0;
    }
}