.stories {
    margin-bottom: 40px;
}

.stories-intro {
    margin-bottom: 40px;
}

.stories-header {
    text-transform: uppercase;
}

.stories-info {
    margin-bottom: 50px;
}

.story-description {
}