.youwill-image {
    width: 100%;

}
.youwill-image img{
    width: 100%;
}

.youwill-button {
    background-color: #01a6ea;
    color: white;
}

.youwill-description {
    font-size: 16px;
    font-weight: 300;
}